body{
    // font-family: 'Fixel Display', sans-serif;
    // font-weight: 400;
    // font-size: 16px;
    // line-height: 140%;
    // // letter-spacing: 0.02em;
    // color: var(--black);
    margin: 0;
}

h1{
    display: none;
}

.container{
    width: 1280px;
    padding: 80px;
    margin: 0 auto;
}

.container__grey{
   width: 100%;
   background-color: var(--grey-more-light);
}

.title{
    font-family: 'Tektur', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
    margin-bottom: 32px;
}
.subtitle{
    font-family: 'Fixel Display', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: var(--black);
    margin-bottom: 40px;
}
.text{
    font-family: 'Fixel Display', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%; 
    // text-align: center;
}
