:root {
	--black: #0f1019;
	--white: #fafafa;
	--grey-more-light: #e0e0e0;
	--orange-dark: #de4f12;
	--orange-light: #ef6c35;
	--purple: #423063;
	--navy: #1d2a36;
	--green: #035b57;
	--grey-dark: #808080;
	--grey-light: #c4c4c4;
	--black-hover: #222439;

	--font-main: "Fixel Display", sans-serif;
    --font-title: "Tektur", sans-serif;
}