.about__description__container-all{
    display: flex;
}
.about__description__container-big{
    display: flex;
    flex-direction: column;
}
.about__description-title{
    text-align: start;
}
.about__description-container{
    display: flex;
    // flex-wrap: wrap;
    gap: 20px;
    margin-top: 24px;
    // width: 630px;
}
.about__description-block{
    border-radius: 24px;
    padding: 24px;
    // width: 257px;
    width: 305px;
    // height: 217px;
    margin-bottom: 20px;  
    // background: linear-gradient(137deg, #de4f12 12.37%, #f7d385 100%);
}
.block__orange{
    background: linear-gradient(137deg, #de4f12 12.37%, #f7d385 100%);
}
.block__white{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px;
    border: 2px solid var(--orange-dark);

}
.block__orange-big{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;
    padding: 24px;
    // width: 582px;
    width: 630px;
    height: 265px;
    background: linear-gradient(137deg, #de4f12 12.37%, #f7d385 100%);
    margin-right: 21px;
}
.about__description-text{
    margin-bottom: 48px;;
}
.arrow__orange{
    width: 40px;
    height: 40px;
    fill: var(--orange-dark);
    margin-left: 217px;
}
.arrow__white{
    width: 40px;
    height: 40px;
    margin-left: 542px;
}
.image__description{
    border-radius: 24px;
    width: 630px;
    height: 550px;
    margin-top: 24px;
}