.about__product-title{
    text-align: start;
    margin-top: 24px;
}
.about__product-text{
    font-family: "Fixel Display", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    color: var(--white);
}
.about__product__block-first{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.about__product__block-second{
    display: flex;
    gap: 20px;
    margin-left: 433px;
    margin-bottom: 40px;
}
.about__product__block-third{
    margin-left: 433px;
}
.about__product-block{
    position: relative;
    border-radius: 24px;
    padding: 24px;
    width: 413px;
    height: 320px;
}
.about__product__block-orange{
    background: linear-gradient(137deg, #de4f12 12.37%, #f7d385 100%);
}
.about__product__block-blue{
    background: linear-gradient(153deg, #12a1de 0%, #c6ffd9 100%);
}
.about__product__block-yellow{
    background: linear-gradient(136deg, #f5a609 14.5%, #fff9a8 100%);
}
.about__product__block-pink{
    background: linear-gradient(159deg, #e070a0 0%, #ffc0d5 100%);
}
.image__popcorn{
    position: absolute;
    top: 70px;
    left: 187px;
}
.image__snex{
    position: absolute;
    top:62px;
    left: 149px;
}
.image__corn{
    position: absolute;
    top: 76px;
    left: 146px;
}
.image__twin{
    position: absolute;
    top: 80px;
    left: 179px;
}