.about__sticks-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__sticks__container-white{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 24px;
    padding: 228px 216px 228px 24px;
    // width: 388px;
    width: 629px;
    background-color: var(--white);
}
.about__sticks-item{
    width: 413px;
}
.about__sticks-list{
    margin-bottom: 40px;
}
.about__sticks-title{
    text-align: left;
    margin-bottom: 8px;
}
.about__sticks-subtitle{
    font-family: 'Fixel Display', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--orange-dark);
}
.sticks__image{
    position: absolute;
    width: 414px;
    height: 446px;
    top: 180px;
    left: 500px;
}