.footer{
    background-color: var(--black);
}
.footer__container{
    width: 1440px;
    padding: 32px 80px 80px 80px;
    margin: 0 auto;
}
.link__container{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.item__container{
    display: flex;
    width: 847px;
    gap: 20px;
    margin-left: 236px;
}
.footer__list{
    display: flex;
    align-items: center;
    // width: 165px;
    width: 197px;
    padding: 16px;

}
.footer__link{
    display: flex;
    width: 100%;
}
.footer__icon{
    margin-right: 16px;
}
.footer__information-container{
    display: flex;
    justify-content: space-between;
    // width: 413px;
    border-bottom: 1px solid var(--black-hover);;

}
.footer__information-item{
     width: 100%;
    // width: 413px;
    padding-bottom: 24px;
}
.footer__information-list{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.footer__information-list:last-child{
    margin-bottom: 0;
}
.footer__question-subtitle{
    margin-bottom: 24px;
    text-align: start;
}
.footer__button{
    width: 100%;
    // width: 413px;
    margin-top: 24px;
    font-weight: 500;
    justify-content: center;
    padding: 16px;
}
.footer__conditions-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 630px;
    margin-top: 24px;
}
.footer__conditions{
    font-size: 14px;
}