.header-container{
  position: relative;
  display: flex;
  width: 1280px;
  margin: 0 auto;
 
}


.header{
    position: absolute;
    top:16px;
    left:0;
    z-index: 2;
    display: flex;
    width: 100%;
    
    align-items: center;
    justify-content:space-between;
    padding: 6px;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0);
    // backdrop-filter: blur(8px);
    border: 2px solid var(--white);
    margin: 0 auto;
}
.logo{
    margin-left: 18px;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;  
}
.nav-link{
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: var(--white);
}
.header-button{
    display: flex;
    width: 229px;
    height: 43px;
    border: none;
    border-radius: 24px;
    padding: 16px 24px;
    background-color: var(--grey-light);
    align-items: center;
    justify-content: center;
    font-family: 'Fixel Display', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--black);
    margin-left: 32px;
}