.hero-section-container{
    position: relative;
    display: flex;
    // width: 1440px;
    height: 850px;
    min-width: 0;
    margin: 0 auto; 
}
.hero-section{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    margin-top: 119px;
}
.hero-section-orange{
    
    background-color: var(--orange-dark);
}
.hero-section-purple{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--purple);
}

.hero-section-navy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--navy);
}

.hero-section-green{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--green);
}
.hero-text-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: 88px ;
}
.hero-title{
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 10px;
}
.hero-subtitle{
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
}
.hero-text{
    font-size: 18px;
    color: var(--white);
    margin-bottom: 24px;
}

.hero-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 32px;
    padding: 8px 8px 8px 24px ;
    width: 284px;
    background: var(--white);
    font-family: 'Fixel Display', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: var(--black);
}
.image-container{
    position: relative;
    margin-right: 188px;
}
.image-gradient-orange{
    position: absolute;
    z-index: -100;
    transform: translate(-5%, -5%) ;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background: radial-gradient(circle at center,  rgb(247, 211, 133) 0%, rgb(243, 149, 64) 92%);
    filter: blur(250px);
}

.image-gradient-violet{
    position: absolute;
    z-index: -100;
    transform: translate(-5%, -5%) ;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background: radial-gradient(circle at center,  rgb(221, 221, 219) 0%, rgb(106, 80, 138) 92%);
    filter: blur(250px);
}

.image-gradient-navy{
    position: absolute;
    z-index: -100;
    transform: translate(-5%, -5%) ;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    filter: blur(250px);
    background: radial-gradient(circle at center, rgb(118, 214, 249) 0%, rgb(58, 74, 87) 92%);
}
.image-gradient-green{
    position: absolute;
    z-index: -10;
    transform: translate(-5%, -5%) ;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    filter: blur(250px);
    background: radial-gradient(circle at center, rgb(118, 214, 249) 0%, rgb(21, 167, 160) 92%);
}
