.partner__container{
    padding: 80px 0 0 0;
    border-radius: 24px;
    background: linear-gradient(153deg, #12a1de 0%, #c6ffd9 100%);
}
.partners__title{
    color: var(--white);
}
.partners__subtitle{
    color: var(--white);
}
.partners__link{
    margin: 0 auto;
}
.images__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}