.product__button-item{
    display: flex;
    gap: 20px;
    margin-bottom: 48px;
}
.product__button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border: none;
    padding: 12px;

}

.product__list-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product__list{
    position: relative;
    width: 305px;
    padding: 300px 24px 24px 24px;
    border-radius: 24px;
    background-color: var(--white);
    margin-bottom: 36px;
}
.product__list-image{
    display: block;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.product__list-subtitle{
    font-weight: 700;
    text-align: start;
    width: 100%;
    height: 63px;
    margin-bottom: 24px;
}
.product__text-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__list-text{
    font-weight: 500;
}