.collection-container-group{
    display: flex;
    gap: 24px;
}

.collection-text-main{
    font-family: 'Fixel Display', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: var(--black);
    margin-bottom: 40px;
}

.collection-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fixel Display', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);
}
.collection-link{
    font-family: 'Fixel Display', sans-serif;;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);
}
