.partners__blocks-first{
    display: flex;
    flex-direction: row;
    gap: 20px;
    // overflow: hidden;
    // animation: scroll 20s linear infinite;
    // animation-iteration-count:infinite;
}
// .partner__container{
//     display: flex;
//     flex-direction: row;
// }
.partners__block{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    flex: 0 0 289px;
    height: 104px;
    padding: 5px;
    background-color: var(--white);    
}
.slick-initialized .slick-slide {
    display: flex;
    // gap: 20px;
    justify-content: space-between;
}
.marquee__image{
    max-width: 100%;
    display: flex;
    // flex-direction: row;
    // padding: 6px 0;
    // border-bottom: 2px solid black;
    // border-top: 2px solid black;
    overflow: hidden;
}

@keyframes partners__blocks-first {
      50% {
        transform: translateX(100%);
      }
      50% {
        transform: translateX(-100%);
      }
  }
