.question__form{
    // width: 582px;
    width: 630px;
    padding: 24px;
    border-radius: 24px;
    background-color: var(--white);
    margin: 0 auto;
}
.question__title{
    text-align: left;
    margin-bottom: 24px;
}
.question__subtitle{
    text-align: left;
}
.question__form-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}
.question__input{
    display: flex;
    // text-align: left;
    justify-content: center;
    border: 1px solid var(--grey-light);
    border-radius: 24px;
    padding: 12px 24px;
    // width: 230px;
    width: 281px;
    // height: 22px;
    height: 46px;
    margin-right: 20px;
    margin-bottom: 32px;
}
.question__input::placeholder{
    color: var(--black);
}
.question__input:nth-child(even){
    margin-right: 0;
}
.question__textarea{
    border: 1px solid var(--grey-light);
    border-radius: 24px;
    padding: 12px 24px;
    width: 582px;
    height: 104px;  
}
.question__textarea::placeholder{
    color: var(--black);
}
.question__button{
    background-color: var(--black);
    width: 582px;
    height: 56px;
    color: var(--white);
   justify-content: center;
}
.question_image-popcorn{
    position: absolute;
    bottom: 0;
    left: 0;
}
.question_image-milk{
    position: absolute;
    bottom: 200px;
    right: 0;
}