// .question__container{
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }

.question__form{
    // position: relative;
    width: 582px;
    // height: 533px;
    padding: 24px;
    border-radius: 24px;
    background-color: var(--white);
    margin: 0 auto;
}
.question__title{
    // position: relative;
    text-align: left;
    margin-bottom: 24px;
}
.question__subtitle{
    text-align: left;
}
.question__form-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}
.question__input{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey-light);
    border-radius: 24px;
    padding: 12px 24px;
    width: 230px;
    height: 22px;
    margin-right: 20px;
    margin-bottom: 32px;

}
.question__input:nth-child(even){
    margin-right: 0;
}
.question__textarea{
    border: 1px solid var(--grey-light);
    border-radius: 24px;
    padding: 12px 24px;
    width: 582px;
    height: 104px;  
}
.question__button{
    background-color: var(--black);
    width: 582px;
    color: var(--white);
   justify-content: center;
}
.question_image-popcorn{
    position: absolute;
    bottom: 0;
    left: 0;
}
.question_image-milk{
    position: absolute;
    // width: 358px;
    // height: 511px;
    bottom: 200px;
    right: 0;
}