.collection__subtitle{
    font-family: 'Tektur', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: var(--white);
    margin-bottom: 16px;
}
.collection__text{
    margin-bottom: 48px;
    color: var(--white);
}
.collection__text-small{
    margin-bottom: 130px;
}
.collection__link{
    color: var(--white);
}
.collection__container{
    display: flex;
    gap: 24px;
}
.collection__block{
    position: relative;
    display: flex;
    width: 100%;
    height: 360px;
    border-radius: 24px;
    margin-bottom: 24px;
}
.collection__block-blue{
    text-align: center;
    justify-content: center;
    background: linear-gradient(153deg, #12a1de 0%, #c6ffd9 100%);
}
.collection__block-yellow{
    width: 630px;
    // height: 312px;
    padding: 24px;
    background: linear-gradient(136deg, #f5a609 14.5%, #fff9a8 100%);
}
.collection__block-pink{
    width: 630px;
    // height: 312px;
    padding: 24px;
    background: linear-gradient(159deg, #e070a0 0%, #ffc0d5 100%);
}
.collection__block-orange{
    text-align: center;
    justify-content: center;
    background: linear-gradient(137deg, #de4f12 12.37%, #f7d385 100%);
}
.collection__block-text{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.collection__block-text-small{
    align-items: flex-start; 
    justify-content: flex-start;
}
.image__surprise{
    position: absolute;
    bottom: 0;
    right: 0;
}
.image__snax-bacon{
    position: absolute;
    height: 380px;
    bottom: -20px;
    left: -40px;
}
.image__snax-onion{
    position: absolute;
    bottom: 0;
    right: 0;
}
.image__popcorn-caramel{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
}
.image__popcorn-ready{
    position: absolute;
    bottom: 0;
    right: 0;
}